<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.project.shopathome">

    <dist:module dist:instant="true" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/download"
        android:label="@string/app_name"
        android:supportsRtl="false"
        android:theme="@style/Theme.ShopAtHome"
        tools:replace="android:supportsRtl">
        <activity
            android:name=".PayActivity"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".CheckoutActivity"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ViewFragment"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".ProductActivity"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity android:name=".FpassActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".NameAddActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".HomeActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".EmptyActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".RegisterActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait"/>
    </application>

</manifest>